/*Variables*/
body {
  background-color: #FEFFE6; }

header {
  display: block;
  margin: 0 8em;
  margin-top: 2.3em; }
  header h2 {
    text-align: left;
    margin: 0;
    font-style: italic;
    font-weight: 700; }
  header h3 {
    font-style: italic;
    font-weight: 400;
    text-align: left;
    margin: 0;
    display: inline-block; }
  header nav {
    float: right; }
    header nav ul {
      margin: 0;
      padding: 0;
      margin-top: 0em; }
    header nav li {
      display: inline-block;
      margin: 0 0.6em;
      font-family: "Abel", sans-serif;
      color: #616161;
      font-style: normal;
      font-weight: 400;
      font-size: 1.3em;
      text-transform: uppercase; }
  header .x-line {
    background-color: #FFFB8B;
    height: 1px;
    clear: both; }

/*======font families======*/
h1, h4 {
  color: black; }

h2 {
  color: #EF7C22;
  text-shadow: -1.5px 1.5px 0 #FEFFE6, -2.5px 2.5px 0 #EDCB52; }

h3 {
  color: #616161; }

.main-title {
  font-family: "Arapey", serif; }

h2, h3 {
  font-family: "Arapey", serif; }

h4 {
  font-family: "Abel", sans-serif;
  margin: 0; }

p {
  font-family: "Abel", sans-serif;
  margin: 0; }

/*======font size=======*/
h1 {
  font-size: 50px; }

h2 {
  font-size: 2.1em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.5em; }

p {
  font-size: 20px; }

.main-title {
  margin: 70px 0;
  text-align: center;
  font-style: italic;
  font-weight: 700; }

ul {
  list-style: none; }

.wrapper {
  margin: 0 auto;
  color: black;
  /*========graph==========*/
  /*=============key chart===========*/ }
  .wrapper .col-lf-wrapper {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 1em; }
  .wrapper .graph {
    height: 19em;
    display: inline-block;
    vertical-align: top;
    border-left: 2px solid black;
    border-bottom: 2px solid black; }
  .wrapper .circle-orange, .wrapper .circle-yellow, .wrapper .circle-pink, .wrapper .circle-magenta, .wrapper .circle-purple {
    width: 3.5em;
    height: 3.5em;
    border-radius: 100%;
    display: inline-block;
    position: relative; }
  .wrapper .circle-orange {
    background-color: #F49900;
    top: 170px;
    left: 0%; }
  .wrapper .circle-yellow {
    background-color: #F4C200;
    top: 130px;
    left: 0%; }
  .wrapper .circle-pink {
    background-color: #E8430C;
    top: 100px;
    left: 20%; }
  .wrapper .circle-magenta {
    background-color: #FF9359;
    top: 60px;
    left: 20%; }
  .wrapper .circle-purple {
    background-color: #BB2E46;
    top: 30px;
    left: 15%; }
  .wrapper .y-axis {
    transform: rotate(270deg);
    display: inline-block;
    margin: 0;
    font-family: "Abel", sans-serif;
    vertical-align: bottom;
    padding: 2.5em 0 1.5em 0; }
    .wrapper .y-axis p {
      margin: 0;
      font-size: 0.8em; }
  .wrapper .x-axis {
    margin: 0;
    font-family: "Abel", sans-serif;
    text-indent: 3.5em;
    display: inline-block; }
    .wrapper .x-axis p {
      margin: 0;
      font-size: 0.8em; }
  .wrapper .col-rt-wrapper {
    width: 350px;
    margin: 0 auto; }
  .wrapper .key {
    background-color: #FFFFAE;
    padding: 1em; }
  .wrapper .key-list {
    margin: 0.6em 0; }
  .wrapper .key-color {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: top; }
  .wrapper .orange {
    background-color: #F49900; }
  .wrapper .yellow {
    background-color: #F4C200; }
  .wrapper .magenta {
    background-color: #FF9359; }
  .wrapper .pink {
    background-color: #E8430C; }
  .wrapper .purple {
    background-color: #BB2E46; }
  .wrapper .key-details {
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
    width: 90%; }
  .wrapper .key-header {
    text-transform: uppercase; }
  .wrapper .key-text {
    color: #616161;
    font-size: 1.1em; }

h4 {
  margin: 0;
  font-style: normal;
  font-weight: 400; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: black;
  cursor: pointer;
  text-decoration: none; }

.social-box {
  text-align: center; }

/*========portfolio==========*/
.section {
  padding-top: 1em; }

.active-box {
  background-color: #F0F2AE;
  padding: 0 1em; }

.name-other {
  font-size: 1.6em; }

.snippet {
  width: 15em;
  height: 15em;
  margin: 2em 1em;
  background-color: #FFFB8B;
  display: inline-block;
  vertical-align: top; }

.speak {
  background-image: url(../assets/speak_thumbnail.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220%; }
  .speak:hover {
    background-image: linear-gradient(rgba(225, 225, 255, 0.7), rgba(225, 225, 225, 0.7)), url(../assets/speak_thumbnail.png);
    background-repeat: no-repeat;
    background-position: center; }
    .speak:hover:hover .snippet-title {
      display: block; }

.shero {
  background-image: url(../assets/shero_thumbnail.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220%; }
  .shero:hover {
    background-image: linear-gradient(rgba(225, 225, 255, 0.7), rgba(225, 225, 225, 0.7)), url(../assets/shero_thumbnail.png);
    background-repeat: no-repeat;
    background-position: center; }
    .shero:hover:hover .snippet-title {
      display: block; }

.image-gallery {
  background-image: url(../assets/image-gallery_thumbnail.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%; }
  .image-gallery:hover {
    background-image: linear-gradient(rgba(225, 225, 255, 0.7), rgba(225, 225, 225, 0.7)), url(../assets/image-gallery_thumbnail.png);
    background-repeat: no-repeat;
    background-position: center; }
    .image-gallery:hover:hover .snippet-title {
      display: block; }

.snippet-title {
  text-align: center;
  margin: 0 auto;
  position: relative;
  display: none; }
  .snippet-title h4 {
    font-size: 2.5em; }
  .snippet-title::after {
    content: '';
    position: absolute;
    display: block;
    font-family: "Abel", sans-serif;
    color: black;
    z-index: 1; }

.project {
  background-image: url(../assets/image-gallery_thumbnail.png);
  background-repeat: no-repeat;
  height: 45.5em;
  background-position: center;
  background-size: 100%;
  margin-bottom: 3em; }

/*=========project view==========*/
.site-view {
  background-image: url(../assets/empty_website.png);
  background-repeat: no-repeat;
  height: 70px; }

.project-details {
  padding: 0 2em; }

.project-title {
  color: #616161;
  text-align: center;
  margin: 0 auto;
  font-family: "Arapey", serif;
  font-style: italic;
  font-weight: 400; }
  .project-title a {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid #F06B4D; }
  .project-title a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #F06B4D; }

.project-header {
  color: #616161;
  text-align: left;
  font-family: "Arapey", serif;
  margin-bottom: 3em; }
  .project-header h1 {
    margin: 0.5em 0; }
  .project-header ul {
    margin: 0; }
  .project-header p {
    color: black;
    margin: 0.5em 0; }

/*==========project details============*/
.col-lf {
  display: inline-block;
  width: 35%;
  vertical-align: top; }

.col-rt {
  display: inline-block;
  width: 60%;
  vertical-align: top; }

/*===========contact form==============*/
.row {
  margin: 5em 8em 2em 8em; }

.contact-form {
  margin: 0 auto; }
  .contact-form .form-box {
    display: block;
    width: 100%;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
    padding: 10px;
    margin: 5px 1px 30px 0px;
    border: none; }
  .contact-form .form-box:focus {
    border: 1px solid #51cbee; }
  .contact-form .message-box {
    height: 10em; }
  .contact-form .submit-box {
    margin: 0 40%;
    width: 8em;
    margin-bottom: 2em;
    padding: 0.5em 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: "Abel", sans-serif;
    font-size: 1.3em;
    background-color: #8FDBD4; }
  .contact-form .submit-box:focus {
    border: 1px solid #51cbee; }

/*============footer===========*/
.footer-wrapper {
  margin: 2em auto;
  width: 12em;
  clear: both; }

.footer {
  padding: 1em 0; }

.icons {
  font-size: 2em;
  height: 100%;
  display: inline-block;
  margin: 0 0.5em; }

/*=========== medium breakpoint ==============*/
@media screen and (min-width: 768px) {
  .wrapper {
    width: 90%; }
    .wrapper .col-lf-wrapper {
      float: left;
      width: 49%; }
    .wrapper .col-rt-wrapper {
      width: 49%;
      float: right; }
    .wrapper .graph {
      width: 85%; }
    .wrapper .key-color {
      width: 1.5em;
      height: 1.5em; }
    .wrapper .circle-orange, .wrapper .circle-yellow, .wrapper .circle-pink, .wrapper .circle-magenta, .wrapper .circle-purple {
      width: 3em;
      height: 3em; } }
/*=========== large breakpoint ==============*/
@media screen and (min-width: 960px) {
  .wrapper {
    width: 828px; }
    .wrapper .col-lf-wrapper {
      float: left;
      width: 400px; }
    .wrapper .key-color {
      width: 2em;
      height: 2em; }
    .wrapper .circle-orange, .wrapper .circle-yellow, .wrapper .circle-pink, .wrapper .circle-magenta, .wrapper .circle-purple {
      width: 4em;
      height: 4em; } }

/*# sourceMappingURL=style.css.map */
