/*Variables*/
body {
  background-color: #EBEAE8; }

header {
  display: block;
  margin: 0 8em;
  margin-top: 2em; }
  header h2 {
    font-weight: 400;
    text-align: left;
    margin: 0; }
  header h3 {
    font-weight: 400;
    text-align: left;
    margin: 0;
    display: inline-block; }
  header nav {
    float: right; }
    header nav ul {
      margin: 0;
      padding: 0;
      margin-top: 0em; }
    header nav li {
      display: inline-block;
      margin: 0 0.6em;
      font-family: "Abel", sans-serif;
      color: #616161;
      font-style: normal;
      font-weight: 400;
      font-size: 1.3em;
      text-transform: uppercase; }
  header .x-line {
    background-color: #DEDDDC;
    height: 1px;
    clear: both; }

/*======font families======*/
h1, h2, h4 {
  color: black; }

h3 {
  color: #616161; }

.main-title {
  font-family: "Arapey", serif; }

h2, h3 {
  font-family: "Italiana", serif; }

h4 {
  font-family: "Abel", sans-serif; }

p {
  font-family: "Abel", sans-serif; }

/*======font size=======*/
h1 {
  font-size: 40px; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.5em; }

p {
  font-size: 20px; }

.main-title {
  margin-top: 120px;
  text-align: center;
  font-style: italic;
  font-weight: 400; }

ul {
  list-style: none; }

.wrapper {
  margin: 0 auto;
  color: black; }
  .wrapper .box {
    padding: 0 3em;
    vertical-align: top; }
  .wrapper h4 {
    margin: 0.5em 0;
    font-style: normal;
    font-weight: 400; }
  .wrapper .line {
    width: 0.1em;
    height: 12em;
    background-color: #DEDDDC;
    display: inline-block;
    margin: 2em 0; }
  .wrapper ul {
    padding: 0; }
    .wrapper ul li {
      line-height: 1.5em;
      color: black;
      font-family: "Abel", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: black;
  cursor: pointer;
  text-decoration: none; }

/*========portfolio==========*/
.section {
  background-color: #ffffff;
  padding-top: 1em; }

.name-other {
  font-size: 1.6em; }

.snippet {
  width: 15em;
  height: 15em;
  margin: 2em 1em;
  background-color: #DEDDDC;
  display: inline-block;
  vertical-align: top; }

.speak {
  background-image: url(../assets/speak_thumbnail.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220%; }
  .speak:hover {
    background-image: linear-gradient(rgba(225, 225, 255, 0.7), rgba(225, 225, 225, 0.7)), url(../assets/speak_thumbnail.png);
    background-repeat: no-repeat;
    background-position: center; }
    .speak:hover:hover .snippet-title {
      display: block; }

.shero {
  background-image: url(../assets/shero_thumbnail.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220%; }
  .shero:hover {
    background-image: linear-gradient(rgba(225, 225, 255, 0.7), rgba(225, 225, 225, 0.7)), url(../assets/shero_thumbnail.png);
    background-repeat: no-repeat;
    background-position: center; }
    .shero:hover:hover .snippet-title {
      display: block; }

.image-gallery {
  background-image: url(../assets/image-gallery_thumbnail.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%; }
  .image-gallery:hover {
    background-image: linear-gradient(rgba(225, 225, 255, 0.7), rgba(225, 225, 225, 0.7)), url(../assets/image-gallery_thumbnail.png);
    background-repeat: no-repeat;
    background-position: center; }
    .image-gallery:hover:hover .snippet-title {
      display: block; }

.snippet-title {
  text-align: center;
  margin: 0 auto;
  position: relative;
  display: none; }
  .snippet-title h4 {
    font-size: 2.5em; }
  .snippet-title::after {
    content: '';
    position: absolute;
    display: block;
    font-family: "Abel", sans-serif;
    color: black;
    z-index: 1; }

.project {
  background-image: url(../assets/image-gallery_thumbnail.png);
  background-repeat: no-repeat;
  height: 45.5em;
  background-position: center;
  background-size: 100%;
  margin-bottom: 3em; }

/*=========project view==========*/
.site-view {
  background-image: url(../assets/empty_website.png);
  background-repeat: no-repeat;
  height: 70px; }

.project-details {
  padding: 0 2em; }

.project-title {
  color: #616161;
  text-align: center;
  margin: 0 auto;
  font-family: "Italiana", serif; }
  .project-title a {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid #F06B4D; }
  .project-title a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #F06B4D; }

.project-header {
  color: #616161;
  text-align: left;
  font-family: "Italiana", serif;
  margin-bottom: 3em; }
  .project-header h1 {
    margin: 0.5em 0; }
  .project-header ul {
    margin: 0; }
  .project-header p {
    color: black;
    margin: 0.5em 0; }

/*==========project details============*/
.col-lf {
  display: inline-block;
  width: 35%;
  vertical-align: top; }

.col-rt {
  display: inline-block;
  width: 60%;
  vertical-align: top; }

/*=========== medium breakpoint ==============*/
@media screen and (min-width: 650px) {
  .wrapper {
    width: 41em; }
    .wrapper .box {
      max-width: 12em;
      display: inline-block; } }
/*=========== large breakpoint ==============*/
@media screen and (min-width: 960px) {
  .wrapper {
    width: 828px; } }

/*# sourceMappingURL=style.css.map */
