$line-color: #FFFB8B;
// $background-color: #FEFFE6;
$background-color: #efefef;
$hover: #FFFD99;
$yellow: #FBFCCC;
$carbon: #888888;
$watermelon: #FF3B3F;
$sky: #CAEBF2;
$neutral: #EFEFEF;
$links: #FF3B3F;