/*===========contact form==============*/

.row {
	margin: 0;
}

.contact-form {
	margin: 0 auto;

	.form-box {
		display: block;
		// width: 100%;
		border-radius: 5px;
		font-size: 1em;	  
		outline: none;
		padding: 10px;
		// margin: 5px 1px 30px 0px;
		border: 1px solid #CCCCCC;
		width: 90%;
		margin: 5px auto;
	}
	 
	.form-box:focus {
		border: 1px solid #51cbee;
	}

	.message-box {
		height: 10em;
	}

	.submit-wrapper {
		margin: 0 auto;
		width: 166px;
	}

	.submit-box {
		width: 8em;
		margin-bottom: 2em;
		padding: 0.5em 0.5em;
		border-radius: 5px;
		border: none;
		outline: none;
		font-family: $copy;
		font-size: 1.3em;
		background-color: #8FDBD4;
	}

	.submit-box:focus {
		border: 1px solid rgba(81, 203, 238, 1);		
	}
}

@media screen and (min-width: 768px) {
	.row {
		margin: 5em 8em 2em 8em;
	}
}