/*===========contact form==============*/

.row {
	margin: 0;
}

.about {
	.wrapper {
		margin: 50px auto;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-flex-flow: row nowrap;
		flex-flow: row nowrap;

		@media screen and (max-width: 639px) {
			margin: 15px auto;
			
			-webkit-flex-flow: column wrap;
			flex-flow: column wrap;
		}
	}

	.bio-pic {
		-webkit-box-flex: 1;
		-moz-box-flex:  1;
		-webkit-flex:  1;
		-ms-flex:  1;
		flex: 1;
		padding-right: 20px;

		@media screen and (max-width: 639px) {
			padding-right: 0;
			padding-bottom: 20px;
		}

	}
	.bio-copy {
		-webkit-box-flex: 3;
		-moz-box-flex:  3;
		-webkit-flex:  3;
		-ms-flex:  3;
		flex: 3;

		@media screen and (max-width: 639px) {
			-webkit-box-flex: 1;
			-moz-box-flex:  1;
			-webkit-flex:  1;
			-ms-flex:  1;
			flex: 1;
		}

		p {
			line-height: 30px;

		}
	}
	.skills, .goals {
		-webkit-box-flex: 1;
		-moz-box-flex:  1;
		-webkit-flex:  1;
		-ms-flex:  1;
		flex: 1;

		li {
			padding: 10px;
		    margin: 4px 3px;
		    background: rgba(202, 235, 242, 0.6);
		    display: inline-block;
		}
	}
}

@media screen and (min-width: 768px) {
	.row {
		margin: 5em 8em 2em 8em;
	}
}