header {
	padding: 0 5%;
    margin: 0 auto;
    background-color: $sky;
    overflow: hidden;

	.header-wrapper {
		overflow: hidden;
		margin: 0 auto;
    	text-align: center;
    	justify-content: space-between;
	    margin-top: 25px;
	    padding-bottom: 15px;

    	display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;

		-webkit-box-pack: space-between;
		-webkit-justify-content: space-between;
		-ms-flexbox: justify;
		justify-content: space-between;
	}

	.header-wrapper .logo {
		margin-top: 17px;
		background-image: url('../assets/logo.svg');
		background-size: contain;
	    width: 310px;
	    height: 49px;
	    background-repeat: no-repeat;

	    @media screen and (max-width: 639px) {
			// background-image: url('../assets/logo-mobile.svg');
	        width: 220px;
    		height: 29px;

		}
	}


	h2 {
		text-align: left;
		margin: 0 0.3em;
		font-style: normal;
		font-weight: 700;
	}

	h3 {
		width: 8em;
		font-style: italic;
		font-weight: 400;
		text-align: left;
		margin: 0 0.3em;
	}

	.menu-dropdown {

		float: right;

		@media screen and (max-width: 960px) {
			width: 100%;
		}

		.menu-dropdown:hover {
			cursor: pointer;
		}
	}

	nav {

		.menu-title {
			text-align: right;
		    float: right;
		    cursor: pointer;
		    display: inline-block;
			border-bottom: 4px solid $links;

			&:hover {
				border-bottom: 4px solid $links;
			}

			@media screen and (max-width: 960px) {
				margin-top: 15px;
			}
		}

		.menu-submenu {
			display: none;
		    text-align: left;
		    float: right;
		    clear: both;

		    @media screen and (max-width: 960px) {
				float: left;
			}
		}

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			font-family: $head;
			color: $carbon;
			font-style: normal;
			font-weight: 400;
			font-size: 17px;

			&.active-box {
				border-bottom: 4px solid $links;
			}

			&:hover {
				border-bottom: 4px solid $links;
			}
		}
	}
}