/*==============main content==============*/

body {
	background-color: $background-color;
}

.space-header {
	margin-top: 5em;
}

.main-title {
	font-family: $primary;
	margin: 70px 0;
	text-align: center;
	font-style: italic;
	font-weight: 700;

	a {
		border-bottom: 2px solid #EDCB52;
	}
}

.wrapper {
	padding: 0 5%;
 	margin: 0 auto;
 	color: black;
 	max-width: 460px;

 	ul {
 		padding: 0
 	}
 }