/*========portfolio==========*/

$copy: 'Vollkorn', sans-serif;

.section {
	margin-bottom: 8em;
}

img {
	max-width: 100%;
}

// .project-wrapper {
// 	margin: 0 auto;
// }

.project-2 {
	background-image: url(../assets/shero_snippet.png);	
	background-repeat: no-repeat;
	height: 478px;
	background-position: center;
	// background-size: 80%;
	// margin-bottom: 3em;
}

.project-3 {
	background-image: url(../assets/image-gallery_thumbnail.png);
	background-repeat: no-repeat;
	height: 45.5em;
	background-position: center;
	background-size: 100%;
	margin-bottom: 3em;
}

/*=========project view==========*/

.site-view {
	background-image: url(../assets/empty_website.png);
	background-repeat: no-repeat;
	// background-size: 50%;
	height: 70px;
}

.project-title {
	a {
	border-bottom: 2px solid #FFFA63;
	}
	a:hover {
		text-decoration: none;
	}
}

.project-details {
	padding: 0 1em;
	margin: 0 auto;
}

.project-header {
	text-align: left;

	h1 {
		font-family: $primary;
		font-style: italic;
		font-weight: 700;
	}

	ul {
		margin: 0;
		padding: 0;
		font-family: $copy;
		font-size: 20px;
		text-align: left;
		line-height: 30px;
	}

	p {
		color: black;
		margin: 0;
		line-height: 30px;
	}
}


@media screen and (min-width: 550px) {
	.col-lf {
		display: inline-block;
		width: 35%;
		vertical-align: top;
	}

	.col-rt {
		display: inline-block;
		width: 64%;
		vertical-align: top;
	}
}

@media screen and (min-width: 768px) {

	.project-wrapper {
		margin: 0 auto;
		max-width: 827px;
	}

	.project-details {
		// padding: 0 3em;
		margin: 0 auto;
		max-width: 827px;
	}

	.project-header {
		text-align: left;

		h1 {
			font-family: $primary;
			font-style: italic;
			font-weight: 700;
		}

		ul {
			margin: 0;
			padding: 0;
			font-family: $copy;
			font-size: 20px;
			text-align: left;
			line-height: 30px;
		}

		p {
			color: black;
			margin: 0;
			line-height: 30px;
		}
	}

}

@media screen and (min-width: 920px) {


}
