/*======font families, color, spacing======*/

$head: 'Lora', serif;
$copy: 'Vollkorn', sans-serif;
$primary: 'Vollkorn', serif;

h1{
	margin: 0.3em 0;
	color: #000000;
}

h2 {
	font-family: $primary;
	font-weight: 400;
	color: #000000;
	text-shadow: -1.5px 1.5px 0 #FEFFE6, -2.5px 2.5px 0 #EDCB52;
}

h3 {
	color: #616161;
	font-family: $primary;
}

h4 {
	font-family: $copy;
	margin: 0;
	font-weight: 400;
	font-style: normal;
	color: #000000;
}

p {
	font-family: $copy;
	margin: 0;
}

/*======font size=======*/

h1 {
	font-size: 40px;
}
h2 {
	font-size: 2.1em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 20px;
}
p {
	font-size: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.5s;
	transition-delay: 0s;
	color: inherit;
}
a:hover {
	transition-property: color;
	transition-duration: 0.5s;
	transition-delay: 0s;
	color: #EDCB52;
	cursor: pointer;
	text-decoration: none;
}