/*======font families, color, spacing======*/

$head: 'Lora', serif;
$copy: 'Montserrat', sans-serif;
$primary: 'Montserrat', serif;

h1{
	margin: 0.3em 0;
	// color: #434343;
	color: $carbon;
}

h2 {
	font-family: $primary;
	font-weight: 700;
	color: $carbon;
	margin: 0.3em 0;
}

h3 {
	color: $carbon;
	font-family: $primary;
	font-weight: 600;
	margin: 0;
}

h4 {
	font-family: $copy;
	margin: 0;
	font-weight: 400;
	font-style: normal;
	color: $carbon;
}
h5 {
	font-family: $copy;
	margin: 0;
	font-weight: 400;
	font-style: normal;
	color: $carbon;
}

p {
	font-family: $copy;
	font-weight: 400;
	margin: 0;
	color: $carbon;
	line-height: 20px;
}

/*======font size=======*/

h1 {
	font-size: 40px;
}
h2 {
	font-size: 2.1em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 18px;
}
p {
	font-size: 16px;
}

label {
	font-family: $head;
	font-weight: 700;
	color: $carbon;
	font-size: 20px;
}

ul {
	list-style: none;
}
li { 
	color: $carbon; 
	font-family: $copy;
	font-weight: 400;
	line-height: 30px;
	font-size: 16px;
}

a {
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.5s;
	transition-delay: 0s;
	color: inherit;
}
// a:hover {
// 	transition-property: color;
// 	transition-duration: 0.5s;
// 	transition-delay: 0s;
// 	color: #EDCB52;
// 	cursor: pointer;
// 	text-decoration: none;
// }