@import 'variables';
@import 'browser-prefixes';
@import 'utils';
@import 'colors';
@import 'type'; 
@import 'contact';
@import 'header';
@import 'main';
@import 'portfolio';
@import 'grid';

/*Mixins*/

@mixin animation($content) {
  animation: $content;
  -moz-animation: $content;
  -webkit-animation: $content;
}

@mixin double-shadow($color) {
	box-shadow: 0 2px 0 lighten($color, 10%) inset, 0 -1px 0 darken($color, 10%) inset;
}

@mixin hover-style($color) {
	&:hover {
		background: lighten($color, 3%);
	}
}


/*====== end wrapper=======*/

.social-box {
	text-align: center;
}

/*============footer===========*/

.footer-wrapper {
	background-color: $carbon;
	clear: both;
	margin: 80px 0 0 0;
}

.footer {
	padding: 4em 0;
	text-align: center;
	margin: 0 auto;
}

.icons {
	font-size: 2.5em;
	height: 100%;
	display: inline-block;
	margin: 0 0.5em;
	color: #FEFFE6;
}

@import 'portfolio';
@import 'contact';

/*=========== small view ===============*/

@media screen and (max-width: 767px) {

	#child-1 {
	  display: none;
	}

	.ion-chevron-up {
		display: none;
	}
	.ion-chevron-right {
		display: none;
	}
	.x-label {
		display: none;
	}
	.orange-parent, .pink-parent, .purple-parent, .yellow-parent, .red-parent {
		display: none;
	}

	.project-number {
		margin: 0.3em 0;
		height: 20px;
		display: block;
	}

	.bubble {
		width: 1em;
		height: 1em;
		border-radius: 100%;
		margin: 0 0.1em;
		border: 1px solid #000000;		
	}

	#explan-bubble {
		margin: 13px 1em 0 1em;
		background-color: #000000;
		float: left;
		width: 0.7em;
		height: 0.7em;
		border-radius: 100%;
		border: 1px solid #000000;
	}

	#fill-bubble {
		background-color: #000000;
		float: right;
	}

	#unfill-bubble {
		float: right;
	}
}


/*=========== medium breakpoint ==============*/

@media screen and (min-width: 768px) {

.wrapper {
 	margin: 0 auto;
 	color: #000000;
 	max-width: 750px;
 	padding: 0;

	.key-header {
		text-transform: uppercase;
		font-size: 15px;
		float: left;
	}

	.key-text {
		color: #616161;	
		font-size: 1em;	
		padding-bottom: 5px;
	    padding: 10px 8px;
	}

	/*======= color circles========*/

	.circle-child {
		font-size: 1em;
		line-height: 13px;
		text-align: center;
		border-radius: 100%;
		display: inline-flex;
		padding: 1em;
	}

	.orange-parent, .pink-parent, .purple-parent, .yellow-parent, .red-parent {
	    height: 380px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 499px;

		&.opaque {
			opacity: 1;
			transition: opacity 1s ease-in-out;
		}
		&.transparent {
			opacity: 0.2;
			transition: opacity .6s ease-out;
		}
	}

	.orange-child-1 {
		background-color: #FF7A00;
		width: 3em;
		height: 3em;	
		top: 0;
		left: 120px;
		position: relative;
	}

	#orange-child-1 {
		font-size: 1em;
		margin-top: 0.3em;
	}

	.orange-child-2 {
		background-color: #FF7A00;
		width: 5em;
		height: 5em;
		top: 0;
		left: 110px;
		position: relative;	
	}

	#orange-child-2 {
		font-size: 1em;
		margin-top: 0.5em;		
	}

	.orange-child-3 {
		background-color: #FF7A00;
		width: 3em;
		height: 3em;
		top: 60px;
		left: 0;
		position: relative;			
	}

	#orange-child-3 {
		font-size: 1em;
		margin-top: 0em;		
	}

	.pink-child-1 {
		background-color: #FF9359;
		width: 3em;
		height: 3em;
	  	left: 340px;
  		top: 30px;
		position: relative;		
	}

	.pink-child-2 {
		background-color: #FF9359;
		width: 4em;
		height: 4em;
		top: 150px;
  		left: 170px;
		position: relative;	
	}

	.pink-child-3 {
		background-color: #FF9359;
		width: 4.5em;
		height: 4.5em;
	  	top: 250px;
  		left: 0;
		position: relative;		
	}

	.pink-child-4 {
		background-color: #FF9359;
		width: 5em;
		height: 5em;
		top: 270px;
  		left: 60px;
		position: relative;	
	}

	.purple-child-1 {
		background-color: #BB2E46;
		width: 4em;
		height: 4em;
	  	top: 290px;
  		left: 180px;	
		position: relative;	
	}

	.purple-child-2 {
		background-color: #BB2E46;
		width: 3.5em;
		height: 3.5em;
		top: 290px;
  		left: 100px;
		position: relative;	
	}


	.yellow-child-1 {
		background-color: #F4C200;
		width: 4em;
		height: 4em;
		position: relative;
	  	top: 80px;
  		left: 0;
	}

	#yellow-child-1 {
		font-size: 1em;
		margin-top: 0.3em;
	}

	.yellow-child-2 {
		background-color: #F4C200;
		width: 4.2em;
		height: 4.2em;
		position: relative;
	}

	.red-child-1 {
		background-color: #E8430C;
		width: 4em;
		height: 4em;
		top: 170px;
		left: 100px;
		position: relative;	
	}

	#red-child-1 {
		font-size: 1em;
		margin-top: 0.5em;
	}

	.red-child-2 {
		background-color: #E8430C;
		width: 4.5em;
		height: 4.5em;
		top: 200px;
  		left: -90px;
		position: relative;
	}

	#red-child-2 {
		font-size: 1em;
		margin-top: 0.3em;
	}
	/*===== end color circles=====*/

	.explan-bubble {
		display: none;
	}

	.dropdown {

		width: 216px;

		#legend-top {
			width: 216px;
		}

		.top-menu-wrapper {
			width: 200px;
		}

		.dropdown-menu {
			width: 200px;
		}
	}
	/*===== end 'dropdown' ======*/
}

 /*=========y-axis==========*/

	.vert-axis {
	  	height: 380px;
		width: 25px;
		position: absolute;
		left: 216px;
		top: 0;
		padding-left: 10px;
	}

	#parent {
	  margin: 0 auto;
	  width: 70px;
	  height: 70px;
	  overflow: hidden;
	  display: table;
	}

	#parent-1 {
	  width: 25px;
	  overflow: hidden;
	}

	#y-arrow {
	  background-color: #000000;
	  width: 1px;
	  height: 220px;
	  position: relative;
	  left: 11px;
	  top: -14px;
	  margin-top: 0.5em;
	}

	#child-1 {
	  text-align: center;
	  margin: 0 auto;
	  display: table-cell;
	  vertical-align: top;
	  transform: rotate(270deg);
	  color: black;
	  font-size: 18px;
	}

	.ion-chevron-up {
		font-size: 14px;
		color: black;
		display: inline-block;
		position: relative;
		left: 6px;
	}

/*=======x-axis=======*/

	.horiz-axis {
		width: 501px;
		height: 20px;
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.x-arrow-wrapper {
		width: 77%;
		height: 20px;
		display: inline-block;
	}

	.x-label {
		width: 20%;
		height: 20px;
		display: inline-block;
		vertical-align: top;
		text-align: center;

		p {
			font-size: 18px;
		}
	}

	.x-arrow {
		background-color: black;
		height: 1px;
		width: 100%;
		margin: 0.9em auto;
	}

	.ion-chevron-right {
		display: inline-block;
		width: 3%;
		height: 20px;
		vertical-align: top;
		margin: 0.5em auto;
		font-size: 14px;
	}

/*=============key chart===========*/

	.project-number {
		display: none;
	}

	.key-line {
		display: none;
	}
}
/*=====end 'wrapper'=====*/


/*=========== large breakpoint ==============*/

@media screen and (min-width: 960px) {
	
	header {

		nav {

		.menu-title {
			display: none;
		}

		.menu-submenu {
			display: inline-block;
		}

			ul {
				margin-top: 2em;
			}

			li {
				display: inline-block;
				margin: 0 0.6em;
			}
		}
	}
}

