/*Variables*/

$head: 'Italiana', serif;
$copy: 'Abel', sans-serif;
$primary: 'Arapey', serif;
$line-color: #FFFB8B;
$background-color: #FEFFE6;

body {
	background-color: $background-color;
}

header {
	// display: block;
	margin: 0 2em;
	margin-top: 2.3em;

	.header-wrapper {
		overflow: hidden;
	}

	.name {
		float: left;
	}

	h2 {
		// font-weight: 400;
		text-align: left;
		margin: 0 0.3em;
		font-style: italic;
		font-weight: 700;
	}

	h3 {
		width: 8em;
		font-style: italic;
		font-weight: 400;
		text-align: left;
		margin: 0 0.3em;
		// float: left;
	}

	.menu-dropdown {

		float: right;

		.menu-dropdown:hover {
			cursor: pointer;
		}
	}

	nav {
		// float: right;
		// width: 100%;

		.menu-title {
			text-align: right;
			cursor: pointer;
			border-bottom: 2px solid #000000;

			&:hover {
			border-bottom: 2px solid #EDCB52;
			}
		}

		.menu-submenu {
			display: none;
			cursor: auto;
			text-align: right;
		}

		ul {
			margin: 0;
			padding: 0;
			// margin-top: 2em;
		}

		li {
			// display: inline-block;
			// margin: 0 0.5em;
			font-family: $copy;
			color: #616161;
			font-style: normal;
			font-weight: 400;
			font-size: 1em;
			text-transform: uppercase;
		}
	}
}

/*======font families, color, spacing======*/

h1{
	margin: 0.3em 0;
	color: #000000;
}

h2 {
	font-family: $primary;
	// color: #EF7C22;
	color: #000000;
	// text-shadow: -3px 3px 0 #FEFFE6, -4.5px 4.5px 0 #000000;
	text-shadow: -1.5px 1.5px 0 #FEFFE6, -2.5px 2.5px 0 #EDCB52;
}

h3 {
	color: #616161;
	font-family: $primary;
}

h4 {
	font-family: $copy;
	margin: 0;
	font-weight: 400;
	font-style: normal;
	color: #000000;
}

p {
	font-family: $copy;
	margin: 0;
}

/*======font size=======*/

h1 {
	font-size: 40px;
}
h2 {
	font-size: 2.1em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 20px;
}
p {
	font-size: 20px;
}

/*==============main content==============*/

.main-title {
	font-family: $primary;
	margin: 70px 0;
	text-align: center;
	font-style: italic;
	font-weight: 700;
	// font-size: 40px;
	a {
	border-bottom: 2px solid #EDCB52;
	}
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.5s;
	transition-delay: 0s;
	color: inherit;
}
a:hover {
	transition-property: color;
	transition-duration: 0.5s;
	transition-delay: 0s;
	color: #EDCB52;
	cursor: pointer;
	text-decoration: none;
}

.wrapper {
	padding: 0 5%;
 	margin: 0 auto;
 	color: black;
 	max-width: 460px;
 	// overflow: hidden;

	// .col-lf-wrapper {
	// 	// width: 350px;
	// 	margin: 0 auto;
	// 	margin-bottom: 70px;
	// 	width: 100%;
	// }

	// .graph {
	// 	height: 19em;
	// 	width: 90%;
	// 	float: left;
	// 	// display: inline-block;
	// 	vertical-align: top;
	// 	border-left: 2px solid black;
	// 	border-bottom: 2px solid black;
	// }

	// .circle-orange, .circle-yellow, .circle-pink, .circle-magenta, .circle-purple {
	// 	// width: 3.5em;
	// 	// height: 3.5em;
	// 	// border-radius: 100%;
	// 	// display: inline-block;
	// 	// position: relative;
	// }


	// .circle-orange {
	// 	background-color: #F49900;
	// 	top: 90px;
	// 	left: 0%;
	// }
	// .circle-yellow {
	// 	background-color: #F4C200;
	// 	top: 170px;
	// 	left: 0%;
	// }
	// .circle-pink {
	// 	// background-color: #FF00F1;
	// 	background-color: #E8430C;
	// 	top: 170px;
	// 	left: 20%;
	// }
	// .circle-magenta {
	// 	// background-color: #990090;
	// 	// background-color: #FF9359;
	// 	// top: 60px;
	// 	// left: 20%;
	// }
	// .circle-purple {
	// 	// background-color: #7C00FF;
	// 	// top: 30px;
	// 	// left: 15%;
	// 	// margin: 0 auto;

	// 	// p {
	// 	// 	background-color: #BB2E46;
	// 	// 	width: 4em;
	// 	// 	height: 4em;
	// 	// }
	// }

	// .y-label-1 {
	// 	background-color: red;
	// 	height: 6em;
	// }
	// .y-label-2 {
	// 	background-color: green;
	// 	height: 6em;
	// }

	// .vert-arrow {
	// 	width: 10px;
	// 	height: 238px;
	// 	background-color: #000000;
	// 	margin: 0 auto;
	// }


	// .y-axis {
	// 	// transform: rotate(270deg);
	// 	// // transform-origin: left top 0;
	// 	// display: inline-block;
	// 	// margin: 0;
	// 	// // font-size: 1em;
	// 	// vertical-align: bottom;
	// 	// padding: 2.5em 0 1.5em 0;
	// 	  transform: rotate(270deg);
	// 	  display: inline-block;
	// 	  margin: 0;
	// 	  /* vertical-align: baseline; */
	// 	  /* padding: 0.5em 0 0 0; */
	// 	  /* padding: 0; */
	// 	  float: left;
	// 	  position: relative;
	// 	  top: 260px;
	// 	  left: 4px;
	// 	p {
	// 		margin: 0;
	// 		font-size: 1em;
	// 	}
	// }

	// .y-arrow {
	// 	// width: 1em;
	// 	// height: 5em;
	// 	// background-color: black;
	// 	// display: inline-block;
	// 	  width: 1px;
	// 	  height: 15em;
	// 	  background-color: black;
	// 	  /* display: inline-block; */
	// 	  margin: 1.5em 0 0 0;
	// 	  float: left;
	// 	  top: -20px;
	// 	  position: relative;
	// 	  right: 8px;
	// }

	// .x-axis {
	// 	margin: 0;
	// 	// font-size: 1em;
	// 	text-indent: 3em;
	// 	display: inline-block;


	// 	p {
	// 		margin: 0;
	// 		font-size: 1em;
	// 	}
	// }

	// .x-arrow {
	// 	width: 60%;
	// 	height: 1px;
	// 	background-color: black;
	// 	display: inline-block;
	// 	position: relative;
	// 	top: -5px;
	// 	left: 13px;
	// }

	// .ion-chevron-right {
	// 	font-size: 10px;
	// 	position: relative;
	// 	left: 5px;
	// 	top: -2px;
	// }

/*=============key chart===========*/

	.col-rt-wrapper {
		// width: 30%;
  		margin: 0;
  		// float: right;
  		// background-color: red;
  		// max-height: 430px;
  		overflow: hidden;
	}

	.key {
		padding: 0.9em 1em;
		border: 2px solid black;
		// max-width: 300px;
		// float: right;
	}

	.key-list {
		margin: 0.6em 0;
	}

	.key-color {
		width: 1em;
		height: 1em;
		display: inline-block;
		vertical-align: top;
	}

	.orange {
		background-color: #F49900;
	}
	.yellow {
		background-color: #F4C200;
	}
	.magenta {
		background-color: #FF9359;
	}
	.pink {
		background-color: #E8430C;
	}
	.purple {
		background-color: #BB2E46;		
	}

	.key-details {
		display: inline-block;
		line-height: 20px;
		vertical-align: top;
		width: 100%;
		// border-bottom: 1px solid #000000;
		// padding-bottom: 0.5em;
	}

	.key-header {
		text-transform: uppercase;
		font-size: 15px;
		display: inline-block;
	}
	.key-text {
		color: #616161;	
		font-size: 1em;	
	}

	.project-number {
		margin: 0.3em 0;
		height: 20px;
	}

	.bubble {
		width: 1em;
		height: 1em;
		border-radius: 100%;
		margin: 0 0.1em;
		border: 1px solid #000000;		
	}

	.fill-bubble {
		background-color: #000000;
		float: left;
		width: 0.7em;
		height: 0.7em;
		border-radius: 100%;
		margin: 0.3em 0.3em;
		border: 1px solid #000000;
	}

	#fill-bubble {
		background-color: #000000;
		float: right;
	}

	#unfill-bubble {
		float: right;
	}

	.key-line {
		height: 1px;
		background-color: #000000;
	}
}

.social-box {
	text-align: center;
}

/*============footer===========*/

.footer-wrapper {
	margin: 0 auto;
	width: 12em;
	clear: both;
	margin-bottom: 70px;
}

.footer {
	padding: 1em 0;
}

.icons {
	font-size: 2em;
	height: 100%;
	display: inline-block;
	margin: 0 0.5em;	
}

.col-top {
	display: none;
}

@import 'portfolio';
@import 'contact';

/*=========== medium breakpoint ==============*/

@media screen and (min-width: 768px) {

	// .main-title {
	// 	font-size: 60px;
	// }

	// h1 {
	// 	font-size: 60px;
	// }

	.wrapper {
	 	margin: 0 auto;
	 	color: black;
	 	max-width: 960px;
	 	overflow: hidden;

	// 	.col-lf-wrapper {
	// 		float: left;
	// 		width: 49%;
	// 	}

	// 	.col-rt-wrapper {
	// 		width: 49%;
	// 		float: right;
	// 	}

	// 	.graph {
	// 		width: 85%;
	// 	}

	// 	.key-color {
	// 		width: 1.5em;
	// 		height: 1.5em;
	// 	}

	// 	.circle-orange, .circle-yellow, .circle-pink, .circle-magenta, .circle-purple {
	// 		width: 3em;
	// 		height: 3em;
	// 	}	
	}

/*==========homepage graphic==========*/

 	.col-top {
		max-height: 430px;
		float: left;
		display: inline;
		// background-color: blue;
		width: 70%;
	}

 /*=========y-axis==========*/

	.vert-axis {
		height: 430px;
		width: 35px;
		float: left;
	}

	#parent {
	  margin: 0 auto;
	  width: 115px;
	  height: 115px;
	  overflow: hidden;
	  display: table;
	}

	#parent-1 {
	  width: 35px;
	  height: 170px;
	  overflow: hidden;
	}

	#y-arrow {
	  background-color: black;
	  display: table-cell;
	  width: 2px;
	  height: 150px;
	  position: relative;
	  left: 16px;
	  top: -6px;
	  margin-top: 0.5em;
	}

	#child-1 {
	  text-align: center;
	  margin: 0 auto;
	  display: table-cell;
	  vertical-align: top;
	  transform: rotate(270deg);
	  overflow: hidden;
	  color: black;
	  font-size: 22px;
	}

	.ion-chevron-up {
		font-size: 18px;
		color: black;
		display: inline-block;
		position: relative;
		left: 10px;
	}

/*========graph==========*/

	.graphy {
		width: 90%;
		height: 400px;
		float: left;
		border-left: 2px solid black;
		border-bottom: 2px solid black;
	}

	.circle-child {
		font-size: 1em;
		line-height: 13px;
		text-align: center;
		border-radius: 100%;
		display: inline-flex;
		padding: 1em;
		position: relative;
		opacity: 0.9;

	}

	.purple-child-1 {
		background-color: #BB2E46;
		width: 4em;
		height: 4em;		
	}

	.purple-child-2 {
		background-color: #BB2E46;
		width: 3.5em;
		height: 3.5em;	
	}

	.pink-child-1 {
		background-color: #FF9359;
		width: 3em;
		height: 3em;
		top: 120px;
		margin-left: 30%;		
	}

	.pink-child-2 {
		background-color: #FF9359;
		width: 4em;
		height: 4em;
		left: -60px;
	}

	.pink-child-3 {
		background-color: #FF9359;
		width: 4.5em;
		height: 4.5em;
		top: 0px;		
	}

	.pink-child-4 {
		background-color: #FF9359;
		width: 5em;
		height: 5em;
		top: -30px;
	}

	.red-child-1 {
		background-color: #E8430C;
		width: 4em;
		height: 4em;		
	}

	#red-child-1 {
		font-size: 1em;
		margin-top: 0.5em;
	}

	.red-child-2 {
		background-color: #E8430C;
		width: 4.5em;
		height: 4.5em;
		top: -120px;
	}

	#red-child-2 {
		font-size: 1em;
		margin-top: 0.3em;
	}

	.yellow-child-1 {
		background-color: #F4C200;
		width: 4.5em;
		height: 4.5em;	
		top: -30px;
	}

	#yellow-child-1 {
		font-size: 1em;
		margin-top: 0.3em;
	}

	.yellow-child-2 {
		background-color: #F4C200;
		width: 4.5em;
		height: 4.5em;
		top: -30px;			
	}

	.orange-child-1 {
		background-color: #F49900;
		width: 3em;
		height: 3em;	
		top: -140px;
		left: 220px;
	}

	#orange-child-1 {
		font-size: 1em;
		margin-top: 0.3em;
	}

	.orange-child-2 {
		background-color: #F49900;
		width: 5em;
		height: 5em;
		top: -140px;
		left: 220px;		
	}

	#orange-child-2 {
		font-size: 1em;
		margin-top: 0.5em;		
	}

/*=======x-axis=======*/

	.horiz-axis {
		width: 90%;
		height: 30px;
		overflow: hidden;
		float: left;
	}

	.x-arrow-wrapper {
		width: 77%;
		height: 30px;
		display: inline-block;
	}

	.x-label {
		width: 20%;
		height: 30px;
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}

	.x-arrow {
		background-color: black;
		height: 2px;
		width: 100%;
		margin: 0.9em auto;
	}

	.ion-chevron-right {
		display: inline-block;
		width: 3%;
		height: 30px;
		vertical-align: top;
		margin: 0.5em auto;
	}

/*=============key chart===========*/

	.col-rt-wrapper {
		width: 30%;
  		margin: 0;
  		float: right;
  		// background-color: red;
  		max-height: 430px;
	}

	.key {
		padding: 0.9em 1em;
		border: 2px solid black;
		max-width: 300px;
		float: right;
	}

	.key-list {
		margin: 0.6em 0;
	}

	.key-color {
		width: 1em;
		height: 1em;
		display: inline-block;
		vertical-align: top;
	}

	.orange {
		background-color: #F49900;
	}
	.yellow {
		background-color: #F4C200;
	}
	.magenta {
		background-color: #FF9359;
	}
	.pink {
		background-color: #E8430C;
	}
	.purple {
		background-color: #BB2E46;		
	}

	.key-details {

	}

	.key-header {
		text-transform: uppercase;
		font-size: 15px;
		display: inline-block;
	}

	.key-text {
		color: #616161;	
		font-size: 1em;	
	}

	.project-number {
		display: none;
	}

	.key-line {
		display: none;
	}

}

/*=========== large breakpoint ==============*/

@media screen and (min-width: 960px) {
	
	header {
	margin: 0 8em;
	margin-top: 2.3em;

		nav {

		.menu-title {
			display: none;
		}

		.menu-submenu {
			display: inline-block;
		}

			ul {
				margin-top: 2em;
			}

			li {
				display: inline-block;
				margin: 0 0.6em;
				font-size: 1.2em;
			}
		}

		// .x-line {
		// 	background-color: #000000;
		// 	height: 1px;
		// 	clear: both;
		// }
	}

	// .wrapper {
	// 	width: 828px;

	// 	.col-lf-wrapper {
	// 		float: left;
	// 		width: 400px;
	// 	}

	// 	.key-color {
	// 		width: 2em;
	// 		height: 2em;
	// 	}

	// 	.circle-orange, .circle-yellow, .circle-pink, .circle-magenta, .circle-purple {
	// 		width: 4em;
	// 		height: 4em;
	// 	}

	// 	.x-arrow {
	// 		width: 16em;
	// 		height: 1px;
	// 		background-color: black;
	// 		display: inline-block;
	// 		position: relative;
	// 		top: -5px;
	// 		left: 13px;
	// 	}
	// }
}

