/*Variables*/

$head: 'Italiana', serif;
$copy: 'Abel', sans-serif;
$primary: 'Arapey', serif;
$line-color: #FFFB8B;
$background-color: #FEFFE6;

body {
	background-color: $background-color;
}

header {
	display: block;
	margin: 0 8em;
	margin-top: 2.3em;

	h2 {
	// font-weight: 400;
	text-align: left;
	margin: 0;
	font-style: italic;
	font-weight: 700;
	}

	h3 {
		font-style: italic;
		font-weight: 400;
		text-align: left;
		margin: 0;
		display: inline-block;
	}

	nav {
		float: right;

		ul {
			margin: 0;
			padding: 0;
			margin-top: 0em;
		}

		li {
			display: inline-block;
			margin: 0 0.6em;
			font-family: $copy;
			color: #616161;
			font-style: normal;
			font-weight: 400;
			font-size: 1.3em;
			text-transform: uppercase;
		}
	}

	.x-line {
		background-color: $line-color;
		height: 1px;
		clear: both;
	}
}

/*======font families======*/

h1, h4 {
	color: black;
}

h2 {
	color: #EF7C22;
	// text-shadow: -3px 3px 0 #FEFFE6, -4.5px 4.5px 0 #000000;
	text-shadow: -1.5px 1.5px 0 #FEFFE6, -2.5px 2.5px 0 #EDCB52;
}

h3 {
	color: #616161;
}

.main-title {
	font-family: $primary;
}
h2, h3 {
	font-family: $primary;
}
h4 {
	font-family: $copy;
	margin: 0;
}
p {
	font-family: $copy;
	margin: 0;
}

/*======font size=======*/

h1 {
	font-size: 50px;
}
h2 {
	font-size: 2.1em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 1.5em;
}
p {
	font-size: 20px;
}

.main-title {
	margin: 70px 0;
	text-align: center;
	font-style: italic;
	font-weight: 700;
}

ul {
	list-style: none;
}

.wrapper {
 	 margin: 0 auto;
 	 color: black;

/*========graph==========*/

	.col-lf-wrapper {
		width: 350px;
		margin: 0 auto;
		margin-bottom: 1em;
	}

	.graph {
		height: 19em;
		display: inline-block;
		vertical-align: top;
		border-left: 2px solid black;
		border-bottom: 2px solid black;
	}

	.circle-orange, .circle-yellow, .circle-pink, .circle-magenta, .circle-purple {
		width: 3.5em;
		height: 3.5em;
		border-radius: 100%;
		display: inline-block;
		position: relative;
	}

	.circle-orange {
		background-color: #F49900;
		top: 170px;
		left: 0%;
	}
	.circle-yellow {
		background-color: #F4C200;
		top: 130px;
		left: 0%;
	}
	.circle-pink {
		// background-color: #FF00F1;
		background-color: #E8430C;
		top: 100px;
		left: 20%;
	}
	.circle-magenta {
		// background-color: #990090;
		background-color: #FF9359;
		top: 60px;
		left: 20%;
	}
	.circle-purple {
		// background-color: #7C00FF;
		background-color: #BB2E46;
		top: 30px;
		left: 15%;
	}

	.y-axis {
		transform: rotate(270deg);
		// transform-origin: left top 0;
		display: inline-block;
		margin: 0;
		font-family: $copy;
		// font-size: 1em;
		vertical-align: bottom;
		padding: 2.5em 0 1.5em 0;
		p {
			margin: 0;
			font-size: 0.8em;
		}
	}

	.x-axis {
		margin: 0;
		font-family: $copy;
		// font-size: 1em;
		text-indent: 3.5em;
		display: inline-block;

		p {
			margin: 0;
			font-size: 0.8em;
		}
	}

/*=============key chart===========*/

	.col-rt-wrapper {
		width: 350px;
		margin: 0 auto;
	}

	.key {
		// height: 19em;
		background-color: #FFFFAE;
		padding: 1em;
	}

	.key-list {
		margin: 0.6em 0;
	}

	.key-color {
		width: 1em;
		height: 1em;
		display: inline-block;
		vertical-align: top;
	}

	.orange {
		background-color: #F49900;
	}
	.yellow {
		background-color: #F4C200;
	}
	.magenta {
		background-color: #FF9359;
	}
	.pink {
		background-color: #E8430C;
	}
	.purple {
		background-color: #BB2E46;		
	}

	.key-details {
		display: inline-block;
		line-height: 20px;
		// margin: 0.4em 0;
		vertical-align: top;
		width: 90%;
	}

	.key-header {
		text-transform: uppercase;
	}
	.key-text {
		color: #616161;	
		font-size: 1.1em;	
	}
}

h4 {
	margin: 0;
	font-style: normal;
	font-weight: 400;
}

a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

.social-box {
	text-align: center;
}

@import 'portfolio'; 

/*=========== medium breakpoint ==============*/

@media screen and (min-width: 768px) {
	.wrapper {
		width: 90%;

		.col-lf-wrapper {
			float: left;
			width: 49%;
		}

		.col-rt-wrapper {
			width: 49%;
			float: right;
		}

		.graph {
			width: 85%;
		}

		.key-color {
			width: 1.5em;
			height: 1.5em;
		}

		.circle-orange, .circle-yellow, .circle-pink, .circle-magenta, .circle-purple {
			width: 3em;
			height: 3em;
		}	
	}
}

/*=========== large breakpoint ==============*/

@media screen and (min-width: 960px) {
	.wrapper {
		width: 828px;

		.col-lf-wrapper {
			float: left;
			width: 400px;
		}

		.key-color {
			width: 2em;
			height: 2em;
		}

		.circle-orange, .circle-yellow, .circle-pink, .circle-magenta, .circle-purple {
			width: 4em;
			height: 4em;
		}
	}
}

