/*Mixins*/
/*Variables*/
body {
  background-color: #FEFFE6;
}

header {
  margin: 0 2em;
  margin-top: 2.3em;
}
header .header-wrapper {
  overflow: hidden;
}
header .name {
  float: left;
}
header h2 {
  text-align: left;
  margin: 0 0.3em;
  font-style: italic;
  font-weight: 700;
}
header h3 {
  width: 8em;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  margin: 0 0.3em;
}
header .menu-dropdown {
  float: right;
}
header .menu-dropdown .menu-dropdown:hover {
  cursor: pointer;
}
header nav .menu-title {
  text-align: right;
  cursor: pointer;
  border-bottom: 2px solid #000000;
}
header nav .menu-title:hover {
  border-bottom: 2px solid #EDCB52;
}
header nav .menu-submenu {
  display: none;
  cursor: auto;
  text-align: right;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav li {
  font-family: "Abel", sans-serif;
  color: #616161;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  text-transform: uppercase;
}

/*======font families, color, spacing======*/
h1 {
  margin: 0.3em 0;
  color: #000000;
}

h2 {
  font-family: "Arapey", serif;
  color: #000000;
  text-shadow: -1.5px 1.5px 0 #FEFFE6, -2.5px 2.5px 0 #EDCB52;
}

h3 {
  color: #616161;
  font-family: "Arapey", serif;
}

h4 {
  font-family: "Abel", sans-serif;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

p {
  font-family: "Abel", sans-serif;
  margin: 0;
}

/*======font size=======*/
h1 {
  font-size: 40px;
}

h2 {
  font-size: 2.1em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 20px;
}

/*==============main content==============*/
.space-header {
  margin-top: 8em;
}

.main-title {
  font-family: "Arapey", serif;
  margin: 70px 0;
  text-align: center;
  font-style: italic;
  font-weight: 700;
}
.main-title a {
  border-bottom: 2px solid #EDCB52;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.5s;
  transition-delay: 0s;
  color: inherit;
}

a:hover {
  transition-property: color;
  transition-duration: 0.5s;
  transition-delay: 0s;
  color: #EDCB52;
  cursor: pointer;
  text-decoration: none;
}

.wrapper {
  padding: 0 5%;
  margin: 0 auto;
  color: black;
  max-width: 460px;
  /*=============key chart===========*/
}
.wrapper ul {
  padding: 0;
}
.wrapper .key-color {
  width: 1em;
  height: 1em;
  float: left;
  vertical-align: top;
  margin-right: 10px;
}
.wrapper .key-header {
  text-transform: uppercase;
  font-size: 15px;
  float: left;
}
.wrapper .key-text {
  color: #616161;
  font-size: 1em;
  padding-bottom: 5px;
  padding: 10px 8px;
}
.wrapper .orange {
  background-color: #FF7A00;
}
.wrapper .yellow {
  background-color: #F4C200;
}
.wrapper .pink {
  background-color: #FF9359;
}
.wrapper .red {
  background-color: #E8430C;
}
.wrapper .purple {
  background-color: #BB2E46;
}
.wrapper #legend-top {
  height: 1px;
  background-color: #f7f99c;
}
.wrapper .top-menu-wrapper {
  height: 20px;
  padding: 10px 8px;
}
.wrapper .top-menu-wrapper:hover {
  background: #fffda8;
}
.wrapper .dropdown {
  box-shadow: 0 2px 0 #fffffc inset, 0 -1px 0 #f7f99c inset;
  border-left: 1px solid #f7f99c;
  border-right: 1px solid #f7f99c;
}
.wrapper .dropdown a {
  text-decoration: none;
}
.wrapper .dropdown .ion-arrow-down-b {
  font-size: 15px;
  color: #000000;
  float: right;
}
.wrapper .dropdown .ion-arrow-down-b.open {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  transition-duration: .6s;
}
.wrapper .dropdown .ion-arrow-down-b.close {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition-duration: .6s;
}
.wrapper .dropdown .ion-arrow-down-b:before {
  content: '\25BC';
}
.wrapper .dropdown .show, .wrapper .dropdown .hide {
  -webkit-transform-origin: 50%, 0%;
          transform-origin: 50%, 0%;
}
.wrapper .dropdown .show {
  max-height: 400px;
  animation: showAnimation 0.5s ease-in-out;
  -moz-animation: showAnimation 0.5s ease-in-out;
  -webkit-animation: showAnimation 0.5s ease-in-out;
  transition: max-height 1s ease-in-out;
}
.wrapper .dropdown .hide {
  max-height: 0;
  animation: hideAnimation 0.4s ease-out;
  -moz-animation: hideAnimation 0.4s ease-out;
  -webkit-animation: hideAnimation 0.4s ease-out;
  transition: max-height .6s ease-out;
}
.wrapper .dropdown .dropdown-menu {
  overflow: hidden;
}
@keyframes showAnimation {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.04);
            transform: scaleY(1.04);
  }
  60% {
    -webkit-transform: scaleY(0.98);
            transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.04);
            transform: scaleY(1.04);
  }
  100% {
    -webkit-transform: scaleY(0.98);
            transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.02);
            transform: scaleY(1.02);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes showAnimation {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.04);
            transform: scaleY(1.04);
  }
  60% {
    -webkit-transform: scaleY(0.98);
            transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.04);
            transform: scaleY(1.04);
  }
  100% {
    -webkit-transform: scaleY(0.98);
            transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.02);
            transform: scaleY(1.02);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes hideAnimation {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  60% {
    -webkit-transform: scaleY(0.98);
            transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.02);
            transform: scaleY(1.02);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
@-webkit-keyframes hideAnimation {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  60% {
    -webkit-transform: scaleY(0.98);
            transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.02);
            transform: scaleY(1.02);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
/*====== end wrapper=======*/
.social-box {
  text-align: center;
}

/*============footer===========*/
.footer-wrapper {
  background-color: #000000;
  clear: both;
  margin: 120px 0 0 0;
}

.footer {
  padding: 4em 0;
  width: 15em;
  margin: 0 auto;
}

.icons {
  font-size: 2.5em;
  height: 100%;
  display: inline-block;
  margin: 0 0.5em;
  color: #FEFFE6;
}

/*========portfolio==========*/
.active-box {
  color: #EDCB52;
}

.section {
  margin-bottom: 8em;
}

img {
  max-width: 100%;
}

.project-2 {
  background-image: url(../assets/shero_snippet.png);
  background-repeat: no-repeat;
  height: 478px;
  background-position: center;
}

.project-3 {
  background-image: url(../assets/image-gallery_thumbnail.png);
  background-repeat: no-repeat;
  height: 45.5em;
  background-position: center;
  background-size: 100%;
  margin-bottom: 3em;
}

/*=========project view==========*/
.site-view {
  background-image: url(../assets/empty_website.png);
  background-repeat: no-repeat;
  height: 70px;
}

.project-title a {
  border-bottom: 2px solid #FFFA63;
}
.project-title a:hover {
  text-decoration: none;
}

.project-details {
  padding: 0 1em;
  margin: 0 auto;
}

.project-header {
  text-align: left;
}
.project-header h1 {
  font-family: "Arapey", serif;
  font-style: italic;
  font-weight: 700;
}
.project-header ul {
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
  font-size: 20px;
  text-align: left;
  line-height: 30px;
}
.project-header p {
  color: black;
  margin: 0;
  line-height: 30px;
}

@media screen and (min-width: 550px) {
  .col-lf {
    display: inline-block;
    width: 35%;
    vertical-align: top;
  }

  .col-rt {
    display: inline-block;
    width: 64%;
    vertical-align: top;
  }
}
@media screen and (min-width: 768px) {
  .project-wrapper {
    margin: 0 auto;
    max-width: 827px;
  }

  .project-details {
    margin: 0 auto;
    max-width: 827px;
  }

  .project-header {
    text-align: left;
  }
  .project-header h1 {
    font-family: "Arapey", serif;
    font-style: italic;
    font-weight: 700;
  }
  .project-header ul {
    margin: 0;
    padding: 0;
    font-family: "Abel", sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 30px;
  }
  .project-header p {
    color: black;
    margin: 0;
    line-height: 30px;
  }
}
/*===========contact form==============*/
.row {
  margin: 0;
}

.contact-form {
  margin: 0 auto;
}
.contact-form .form-box {
  display: block;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
  padding: 10px;
  border: 1px solid #CCCCCC;
  width: 90%;
  margin: 5px auto;
}
.contact-form .form-box:focus {
  border: 1px solid #51cbee;
}
.contact-form .message-box {
  height: 10em;
}
.contact-form .submit-wrapper {
  margin: 0 auto;
  width: 166px;
}
.contact-form .submit-box {
  width: 8em;
  margin-bottom: 2em;
  padding: 0.5em 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Abel", sans-serif;
  font-size: 1.3em;
  background-color: #8FDBD4;
}
.contact-form .submit-box:focus {
  border: 1px solid #51cbee;
}

@media screen and (min-width: 768px) {
  .row {
    margin: 5em 8em 2em 8em;
  }
}
/*=========== small view ===============*/
@media screen and (max-width: 767px) {
  #child-1 {
    display: none;
  }

  .ion-chevron-up {
    display: none;
  }

  .ion-chevron-right {
    display: none;
  }

  .x-label {
    display: none;
  }

  .orange-parent, .pink-parent, .purple-parent, .yellow-parent, .red-parent {
    display: none;
  }

  .project-number {
    margin: 0.3em 0;
    height: 20px;
    display: block;
  }

  .bubble {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    margin: 0 0.1em;
    border: 1px solid #000000;
  }

  #explan-bubble {
    margin: 13px 1em 0 1em;
    background-color: #000000;
    float: left;
    width: 0.7em;
    height: 0.7em;
    border-radius: 100%;
    border: 1px solid #000000;
  }

  #fill-bubble {
    background-color: #000000;
    float: right;
  }

  #unfill-bubble {
    float: right;
  }
}
/*=========== medium breakpoint ==============*/
@media screen and (min-width: 768px) {
  .main-title {
    font-size: 60px;
  }

  h1 {
    font-size: 60px;
  }

  .wrapper {
    margin: 0 auto;
    color: black;
    max-width: 750px;
    padding: 0;
    /*======= color circles========*/
    /*===== end color circles=====*/
    /*===== end 'dropdown' ======*/
  }
  .wrapper ul {
    display: inline-block;
    height: 400px;
    position: relative;
    width: 750px;
    padding: 0;
  }
  .wrapper .key-header {
    text-transform: uppercase;
    font-size: 15px;
    float: left;
  }
  .wrapper .key-text {
    color: #616161;
    font-size: 1em;
    padding-bottom: 5px;
    padding: 10px 8px;
  }
  .wrapper .circle-child {
    font-size: 1em;
    line-height: 13px;
    text-align: center;
    border-radius: 100%;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 1em;
  }
  .wrapper .orange-parent, .wrapper .pink-parent, .wrapper .purple-parent, .wrapper .yellow-parent, .wrapper .red-parent {
    height: 380px;
    position: absolute;
    right: 0;
    top: 0;
    width: 499px;
  }
  .wrapper .orange-parent.opaque, .wrapper .pink-parent.opaque, .wrapper .purple-parent.opaque, .wrapper .yellow-parent.opaque, .wrapper .red-parent.opaque {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  .wrapper .orange-parent.transparent, .wrapper .pink-parent.transparent, .wrapper .purple-parent.transparent, .wrapper .yellow-parent.transparent, .wrapper .red-parent.transparent {
    opacity: 0.2;
    transition: opacity .6s ease-out;
  }
  .wrapper .orange-child-1 {
    background-color: #FF7A00;
    width: 3em;
    height: 3em;
    top: 0;
    left: 120px;
    position: relative;
  }
  .wrapper #orange-child-1 {
    font-size: 1em;
    margin-top: 0.3em;
  }
  .wrapper .orange-child-2 {
    background-color: #FF7A00;
    width: 5em;
    height: 5em;
    top: 0;
    left: 110px;
    position: relative;
  }
  .wrapper #orange-child-2 {
    font-size: 1em;
    margin-top: 0.5em;
  }
  .wrapper .orange-child-3 {
    background-color: #FF7A00;
    width: 3em;
    height: 3em;
    top: 60px;
    left: 0;
    position: relative;
  }
  .wrapper #orange-child-3 {
    font-size: 1em;
    margin-top: 0em;
  }
  .wrapper .pink-child-1 {
    background-color: #FF9359;
    width: 3em;
    height: 3em;
    left: 340px;
    top: 30px;
    position: relative;
  }
  .wrapper .pink-child-2 {
    background-color: #FF9359;
    width: 4em;
    height: 4em;
    top: 150px;
    left: 170px;
    position: relative;
  }
  .wrapper .pink-child-3 {
    background-color: #FF9359;
    width: 4.5em;
    height: 4.5em;
    top: 250px;
    left: 0;
    position: relative;
  }
  .wrapper .pink-child-4 {
    background-color: #FF9359;
    width: 5em;
    height: 5em;
    top: 270px;
    left: 60px;
    position: relative;
  }
  .wrapper .purple-child-1 {
    background-color: #BB2E46;
    width: 4em;
    height: 4em;
    top: 290px;
    left: 180px;
    position: relative;
  }
  .wrapper .purple-child-2 {
    background-color: #BB2E46;
    width: 3.5em;
    height: 3.5em;
    top: 290px;
    left: 100px;
    position: relative;
  }
  .wrapper .yellow-child-1 {
    background-color: #F4C200;
    width: 4em;
    height: 4em;
    position: relative;
    top: 80px;
    left: 0;
  }
  .wrapper #yellow-child-1 {
    font-size: 1em;
    margin-top: 0.3em;
  }
  .wrapper .yellow-child-2 {
    background-color: #F4C200;
    width: 4.2em;
    height: 4.2em;
    position: relative;
  }
  .wrapper .red-child-1 {
    background-color: #E8430C;
    width: 4em;
    height: 4em;
    top: 170px;
    left: 100px;
    position: relative;
  }
  .wrapper #red-child-1 {
    font-size: 1em;
    margin-top: 0.5em;
  }
  .wrapper .red-child-2 {
    background-color: #E8430C;
    width: 4.5em;
    height: 4.5em;
    top: 200px;
    left: -90px;
    position: relative;
  }
  .wrapper #red-child-2 {
    font-size: 1em;
    margin-top: 0.3em;
  }
  .wrapper .explan-bubble {
    display: none;
  }
  .wrapper .dropdown {
    width: 216px;
  }
  .wrapper .dropdown #legend-top {
    width: 216px;
  }
  .wrapper .dropdown .top-menu-wrapper {
    width: 200px;
  }
  .wrapper .dropdown .dropdown-menu {
    width: 200px;
  }

  /*=========y-axis==========*/
  .vert-axis {
    height: 501px;
    width: 25px;
    position: absolute;
    left: 216px;
    top: 0;
    padding-left: 10px;
  }

  #parent {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: table;
  }

  #parent-1 {
    width: 25px;
    overflow: hidden;
  }

  #y-arrow {
    background-color: black;
    width: 1px;
    height: 220px;
    position: relative;
    left: 11px;
    top: -14px;
    margin-top: 0.5em;
  }

  #child-1 {
    text-align: center;
    margin: 0 auto;
    display: table-cell;
    vertical-align: top;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    color: black;
    font-size: 18px;
  }

  .ion-chevron-up {
    font-size: 14px;
    color: black;
    display: inline-block;
    position: relative;
    left: 6px;
  }

  /*=======x-axis=======*/
  .horiz-axis {
    width: 501px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .x-arrow-wrapper {
    width: 77%;
    height: 20px;
    display: inline-block;
  }

  .x-label {
    width: 20%;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  .x-label p {
    font-size: 18px;
  }

  .x-arrow {
    background-color: black;
    height: 1px;
    width: 100%;
    margin: 0.9em auto;
  }

  .ion-chevron-right {
    display: inline-block;
    width: 3%;
    height: 20px;
    vertical-align: top;
    margin: 0.5em auto;
    font-size: 14px;
  }

  /*=============key chart===========*/
  .project-number {
    display: none;
  }

  .key-line {
    display: none;
  }
}
/*=====end 'wrapper'=====*/
/*=========== large breakpoint ==============*/
@media screen and (min-width: 960px) {
  header {
    margin: 0 8em;
    margin-top: 2.3em;
  }
  header nav .menu-title {
    display: none;
  }
  header nav .menu-submenu {
    display: inline-block;
  }
  header nav ul {
    margin-top: 2em;
  }
  header nav li {
    display: inline-block;
    margin: 0 0.6em;
    font-size: 1.2em;
  }
}
